@charset "utf-8";

body{
    font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
    font-weight: bold;
    letter-spacing: 0.02em;
    user-select: none;
    background-color: black;
    /* color: #fff; */
}

#hoge{
    /* position: relative; */
    padding: 50px;
    position: relative;
    /* top: 50px;
    left: 50px; */
    /* width:100%;
    max-width: 100%;
    height: auto; */
    /* background-size: cover */
}

#title{
    color: #fff;
    top: 440px;
    left: 120px;
    position: absolute;
}

#tv{
    position: absolute;
    top: 214px;
    left: 110px;
    width: 332px;
    height: 215px;
}

#myMap{
    position: absolute;
    top: 209px;
    left: 532px;
    width: 620px;
    height: 250px;
}

/* プレイボタン */
#play_b{
    position: absolute;
    top: 553px;
    left: 650px;
}

/* つぎへボタン */
#next_b{
    position: absolute;
    top: 553px;
    left: 590px;
}

/* ポーズボタン */
#pause_b{
    position: absolute;
    top: 553px;
    left: 710px;
}

/* 戻るボタン */
#rev_b{
    position: absolute;
    top: 553px;
    left: 529px;
}

/* recボタン */
#rec{
    position: absolute;
    top: 553px;
    left: 832px;
}

/* リピートボタン */
#repert_b{
    position: absolute;
    top: 553px;
    left: 772px;
}

#btn_autoplay{
    position: absolute;
    top: 573px;
    left: 381px;
}

/* パワーボタン */
#power_b{
    position: absolute;
    top: 573px;
    left: 244px;
}

#btn_vol{
    position: absolute;
    top: 557px;
    left: 918px;
}

#meter{
    position: absolute;
    top: 302px;
    left: 976px;
}


#volume{
    position: absolute;
    top: 568px;
    left: 917px;
}
/* 棒の部分 */
input[type="range"] {
    -webkit-appearance:none;
    width: 215px;
    height: 5px;
    background: #000;
    /* box-shadow: 0 0 10px #666; */
    border-radius: 50px;
}
/* たまの部分 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #C0C0C0;
    width: 20px;
    height: 31px;
    border-radius: 3px;
}
/* input[type="range"]::-webkit-slider-thumb:hover {
    background: #999;
} */
/* input[type="range"]::-webkit-slider-thumb:active {
    background: #fefefe;
} */


/* topココカラ  ///////////////////////////////////// */
.topbody{
    background-color: #000;
}

.toph1{
    font-size: 50px;
    text-align: center;
    margin-top: 300px;
    color: #aaa
}
.topbtn{
    display: flex;
    text-align: center;
}

.playbtn{
    margin-top: 20px;
    margin-left: 395px;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 9px 50px;
    text-decoration: none;
    color: #FFF;
    background: #036d9d;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}


.playbtn:active{/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.recbtn{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 9px 57.5px;
    text-decoration: none;
    color: #FFF;
    background: #b30310;
    border: solid 1px #da0f0f;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.recbtn:active{/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

/* topココマデ  ///////////////////////////////////// */
/* RECココカラ  ///////////////////////////////////// */
.recbody{
    background-color: #fff;
    /* color: #fff; */
}

/* .dialog {
    overflow: hidden;
    position: absolute;
    top: 30%;
    height: auto;
    width: 300px;
    display: none;
    border:1px solid #aaa;
    z-index:1000;
  }
  .dialog-header {
    border: 1px solid #aaa;
    background: #cccccc;
    color: #222222;
    font-weight: bold;
    overflow: hidden;
    padding:5px;
  }
  .dialog-title {
    float: left;
  }
  .dialog-close {
    float: right;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
  } */
  /* .dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: #fff;
    overflow: auto;
    width: auto;
    height: auto;
  }


#sample-dialog{
    background-color: #fff;
} */

/* RECココマデ  ///////////////////////////////////// */